script(src="./js/jquery-3.3.1.min.js")
script(src="./js/barba.min.js")
//- script(src="./js/highway.js")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenLite.min.js")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineLite.min.js")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/CSSPlugin.min.js")
script(src="./js/simpleLightbox.js")
script(src="./js/main.js")