extends layouts/default

block variables
  - const title = "Nature"
  - const PageBg = "./img/art.jpg" 
  - const className = "new-page--red"
  -
    Images = [
        { src: './img/music/br1.jpg',
          alt: 'model',
          ph: 'Viktoria Temnova',
          animClass: 'rotate',
        },
        { src: './img/music/br2.jpg',
          alt: 'model',
          ph: 'Viktoria Temnova',
          animClass: 'swaying-up',
        },
        { src: './img/music/br3.jpg',
          alt: 'model',
          ph: 'Viktoria Temnova',
          animClass: 'swaying',
        },
        { src: './img/music/br4.jpg',
          alt: 'model',
          ph: 'Viktoria Temnova',
          animClass: 'rotate',
        },
        { src: './img/music/br5.jpg',
          alt: 'model',
          ph: 'Viktoria Temnova',
          animClass: 'swaying',
        },
        { src: './img/music/br6.jpg',
          alt: 'model',
          ph: 'Viktoria Temnova',
          animClass: 'swaying-up',
        },
        { src: './img/music/br7.jpg',
          alt: 'model',
          animClass: 'rotate',
        },
        { src: './img/inspiration/cake.jpg',
          alt: 'cake from head',
          ph: 'Sai Osore',
          animClass: 'rotate',
        },
        { src: './img/inspiration/cat.jpg',
          alt: 'cat-girl with pistol',
          ph: 'Ptaag',
          animClass: 'swaying',
        },
        { src: './img/inspiration/death.jpg',
          alt: 'chilling with death',
          ph: 'V. Halych',
          rt: 'Sai Osore',
          animClass: 'swaying-up',
        },
        { src: './img/inspiration/demon.jpg',
          alt: 'demon hand from the mirror',
          ph: 'Sai Osore',
          animClass: 'rotate',
        },
        { src: './img/inspiration/ghost.jpg',
          alt: 'ghost',
          ph: 'Sai Osore',
          animClass: 'swaying',
        },
        { src: './img/inspiration/many.jpg',
          alt: 'many',
          ph: 'Sai Osore',
          animClass: 'swaying-up',
        },
        { src: './img/inspiration/mask.jpg',
          alt: 'mask in water',
          ph: 'Sai Osore',
          animClass: 'swaying',
        },
        { src: './img/studio/b1.jpg',
          alt: 'studio',
          ph: 'Sai Osore',
          rt: 'Bootsman',
          animClass: 'rotate',
        },
        { src: './img/studio/b2.jpg',
          alt: 'studio',
          title: 'Beauty',
          ph: 'Sai Osore',
          rt: 'R. Rand',
          animClass: 'swaying-up',
        },
        { src: './img/studio/b3.jpg',
          alt: 'studio',
          title: 'Beauty',
          ph: 'Sai Osore',
          rt: 'R. Rand',
          animClass: 'swaying',
        },
        { src: './img/studio/b4.jpg',
          alt: 'studio',
          title: 'Beauty',
          ph: 'Sai Osore',
          rt: 'R. Rand',
          animClass: 'rotate',
        },
        { src: './img/studio/b5.jpg',
          alt: 'studio',
          ph: 'Bootsman',
          animClass: 'swaying',
        },
        { src: './img/studio/flex1.jpg',
          alt: 'studio',
          ph: 'Flex',
          animClass: 'rotate',
        },
        { src: './img/studio/flex2.jpg',
          alt: 'studio',
          ph: 'Flex',
          animClass: 'swaying-up',
        },
        { src: './img/studio/flex3.jpg',
          alt: 'studio',
          ph: 'Flex',
          animClass: 'swaying',
        },
        { src: './img/studio/in1.jpg',
          alt: 'studio',
          ph: 'Flex',
          animClass: 'rotate',
        },
        { src: './img/studio/in2.jpg',
          alt: 'studio',
          ph: 'Flex',
          animClass: 'swaying-up',
        },
        { src: './img/studio/in3.jpg',
          alt: 'studio',
          ph: 'Flex',
          animClass: 'swaying',
        },
        { src: './img/studio/s1.jpg',
          alt: 'studio',
          ph: 'Sai Osore',
          animClass: 'rotate',
        },
        { src: './img/studio/s2.jpg',
          alt: 'studio',
          ph: 'Sai Osore',
          animClass: 'swaying-up',
        },
        { src: './img/studio/s3.jpg',
          alt: 'studio',
          ph: 'Sai Osore',
          animClass: 'swaying',
        },
        { src: './img/bw/bw1.jpg',
          alt: 'bw',
          ph: 'Ptaag',
          animClass: 'rotate',
        },
        { src: './img/bw/bw2.jpg',
          alt: 'bw',
          ph: 'Ptaag',
          animClass: 'rotate',
        },
        { src: './img/bw/bw3.jpg',
          alt: 'bw',
          ph: 'Ptaag',
          animClass: 'rotate',
        },
        { src: './img/bw/bw4.jpg',
          alt: 'bw',
          ph: 'Alexander Bootsman',
          animClass: 'rotate',
        },
        { src: './img/bw/bw5.jpg',
          alt: 'bw',
          ph: 'Alexander Bootsman',
          animClass: 'rotate',
        },
        { src: './img/bw/bw6.jpg',
          alt: 'bw',
          ph: 'Alexander Bootsman',
          animClass: 'rotate',
        },
        { src: './img/bw/bw7.jpg',
          alt: 'bw',
          ph: 'Alexander Bootsman',
          animClass: 'rotate',
        },
        { src: './img/life/1.jpg',
          alt: 'Kazhan in coat',
          ph: 'Sai Osore',
          animClass: 'rotate',
        },
        { src: './img/life/2.jpg',
          alt: 'model in coat',
          ph: 'Sai Osore',
          animClass: 'swaying',
        },
        { src: './img/life/3.jpg',
          alt: 'girl in forest',
          ph: 'Sai Osore',
          animClass: 'swaying-up',
        },
        { src: './img/life/4.jpg',
          alt: 'beauty',
          ph: 'Sai Osore',
          animClass: 'rotate',
        },
        { src: './img/life/5.jpg',
          alt: 'beautiful eyes',
          ph: 'Sai Osore',
          animClass: 'swaying-up',
        },
        { src: './img/life/6.jpg',
          alt: 'girl in dress',
          ph: 'Sai Osore',
          animClass: 'swaying',
        },
        { src: './img/life/7.jpg',
          alt: 'girl in dress',
          ph: 'Sai Osore',
          animClass: 'rotate',
        },
        { src: './img/life/8.jpg',
          alt: 'model portret',
          ph: 'Sai Osore',
          animClass: 'swaying',
        },
        { src: './img/life/9.jpg',
          alt: 'girl with skate',
          ph: 'Sai Osore',
          animClass: 'swaying-up',
        },
        { src: './img/life/10.JPG',
          alt: 'white with red make-up',
          ph: 'Sai Osore',
          animClass: 'rotate',
        },
        { src: './img/life/11.jpg',
          alt: 'white with red make-up',
          ph: 'Sai Osore',
          animClass: 'swaying',
        },
      ]

block content
  +gallery-page('nature', PageBg, className)
    +gallery(Images)