extends layouts/default

block variables
  - const title = "Studio"
  - const PageBg = "./img/studio.jpg" 
  - const className = ""
  -
    Images = [
        { src: './img/studio/b1.jpg',
          alt: 'studio',
          ph: 'Sai Osore',
          rt: 'Bootsman',
          animClass: 'rotate',
        },
        { src: './img/studio/b2.jpg',
          alt: 'studio',
          title: 'Beauty',
          ph: 'Sai Osore',
          rt: 'R. Rand',
          animClass: 'swaying-up',
        },
        { src: './img/studio/b3.jpg',
          alt: 'studio',
          title: 'Beauty',
          ph: 'Sai Osore',
          rt: 'R. Rand',
          animClass: 'swaying',
        },
        { src: './img/studio/b4.jpg',
          alt: 'studio',
          title: 'Beauty',
          ph: 'Sai Osore',
          rt: 'R. Rand',
          animClass: 'rotate',
        },
        { src: './img/studio/b5.jpg',
          alt: 'studio',
          ph: 'Bootsman',
          animClass: 'swaying',
        },
        { src: './img/studio/flex1.jpg',
          alt: 'studio',
          ph: 'Flex',
          animClass: 'rotate',
        },
        { src: './img/studio/flex2.jpg',
          alt: 'studio',
          ph: 'Flex',
          animClass: 'swaying-up',
        },
        { src: './img/studio/flex3.jpg',
          alt: 'studio',
          ph: 'Flex',
          animClass: 'swaying',
        },
        { src: './img/studio/in1.jpg',
          alt: 'studio',
          ph: 'Flex',
          animClass: 'rotate',
        },
        { src: './img/studio/in2.jpg',
          alt: 'studio',
          ph: 'Flex',
          animClass: 'swaying-up',
        },
        { src: './img/studio/in3.jpg',
          alt: 'studio',
          ph: 'Flex',
          animClass: 'swaying',
        },
        { src: './img/studio/s1.jpg',
          alt: 'studio',
          ph: 'Sai Osore',
          animClass: 'rotate',
        },
        { src: './img/studio/s2.jpg',
          alt: 'studio',
          ph: 'Sai Osore',
          animClass: 'swaying-up',
        },
        { src: './img/studio/s3.jpg',
          alt: 'studio',
          ph: 'Sai Osore',
          animClass: 'swaying',
        },
      ]

block content
  +gallery-page('studio', PageBg, className)
    +gallery(Images)