header(class=["header"] class=headerClass)
  div(class="header__wrapper")
  a(class="header__logo" href="./index.html")
    | Kazhan
  button(class="header__menu-btn")
    | Menu
  nav(class="header-nav")
    div(class="header-dropdown")
      div(class="header-dropdown__current")
        a(class="header-nav__link") 
          | Categories
      div(class="header-dropdown__list")
        a(class="header-nav__link header-nav__link--c4"  href="./Commercial.html") 
          | Commercial
        a(class="header-nav__link header-nav__link--c1" href="./Portrets.html")
          | Portrets
        a(class="header-nav__link header-nav__link--c2" href="./Beauty.html")
          | Beauty
        a(class="header-nav__link header-nav__link--c5" href="./nature.html")
          | Nature
        a(class="header-nav__link header-nav__link--c4" href="./all.html")
          | All
    a(class="header-nav__link header-nav__link--last" href="./about.html")
      | About