include ../utils/mixins

block variables

doctype html
html(lang="en")
  head
    include ../blocks/base/head
  body
    include ../blocks/header/header
    .container
      div(id="barba-wrapper")
        div(class="barba-container")
          include ../blocks/aside/aside
          block content
    include ../blocks/footer/footer
    include ../blocks/base/scripts